abrt
BraveSoftware
Code
configstore
dconf
dleyna-renderer-service.conf
evolution
gnome-boxes
gnome-initial-setup-done
gnome-session
goa-1.0
gtk-3.0
ibus
mimeapps.list
nautilus
pipewire
procps
prueba.txt
pulse
TabNine
user-dirs.dirs
user-dirs.locale
VSCodium
coc
